<meta charset="UTF-8">
<title>Crypto!</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">


<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <div class="container">
     <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">crypto crackers</a>
     <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Coin trends</a>
     <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sentiment analysis</a>


     <ul class="navbar-nav px-3">

       <li class="nav-item text-nowrap">
         <a class="nav-link" href="#">Sign in</a>
       </li>
     </ul>
  </div>

   </nav>
