
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<br>
<br>
<body class="container" style="background-color:#251f47">


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hello Crypto Enthusiasts!</h1>
      <p class="lead">You are at the right place for all your cryptography investments!</p>
    </div>
  </div>

 <div class="row">
     <div class=col>
       <div class="jumbotron jumbotron-fluid" style="background-image:url(/images/cointrends.jpg) ;" >

         <div class="container">

           <center>
           <h2 class="lead" style="color:white"><a href = "trends">Coin trends</a></h2>
         </center>
         </div>
       </div>
     </div>
     <div class=col>
       <div class="jumbotron jumbotron-fluid">
         <div class="container">
           <h2 class="lead">Sentiment analysis</h2>
         </div>
       </div>
     </div>
   </div>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
