<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="./assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>
  cryptocurrency
</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
/>
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="./assets/css/material-kit.css?v=2.0.3" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="./assets/demo/demo.css" rel="stylesheet" />
<!-- Material Design Theming -->
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />

<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBf5ERovaG2P1_HblEVy9h5V2N850PWB74",
    authDomain: "cryptocast-2605a.firebaseapp.com",
    databaseURL: "https://cryptocast-2605a.firebaseio.com",
    projectId: "cryptocast-2605a",
    storageBucket: "cryptocast-2605a.appspot.com",
    messagingSenderId: "204336388119"
  };
  firebase.initializeApp(config);
</script>


<!-- Import and configure the Firebase SDK -->
<!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
<!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
<script src="/__/firebase/5.0.0/firebase-app.js"></script>
<script src="/__/firebase/5.0.0/firebase-auth.js"></script>
<script src="/__/firebase/init.js"></script>

<script type="text/javascript">
  
  /**
  * Handles the sign in button press.
  */
  function toggleSignIn() {
    if (firebase.auth().currentUser) {
      // [START signout]
      firebase.auth().signOut();
      // [END signout]
    } else {
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value;
      if (email.length < 4) {
        alert('Please enter an email address.');
        return;
      }
      if (password.length < 4) {
        alert('Please enter a password.');
        return;
      }
      // Sign in with email and pass.
      // [START authwithemail]
      firebase.auth().signInWithEmailAndPassword(email, password).catch(function (error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // [START_EXCLUDE]
        if (errorCode === 'auth/wrong-password') {
          alert('Wrong password.');
        } else {
          alert(errorMessage);
        }
        console.log(error);
        document.getElementById('quickstart-sign-in').disabled = false;
        // [END_EXCLUDE]
      });
      // [END authwithemail]
    }
    document.getElementById('quickstart-sign-in').disabled = true;
  }
  
  /**
  * Handles the sign up button press.
  */
  function handleSignUp() {
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    if (email.length < 4) {
      alert('Please enter an email address.');
      return;
    }
    if (password.length < 4) {
      alert('Please enter a password.');
      return;
    }
    // Sign in with email and pass.
    // [START createwithemail]
    firebase.auth().createUserWithEmailAndPassword(email, password).catch(function (error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // [START_EXCLUDE]
      if (errorCode == 'auth/weak-password') {
        alert('The password is too weak.');
      } else {
        alert(errorMessage);
      }
      console.log(error);
      // [END_EXCLUDE]
    });
    // [END createwithemail]
  }
  
  /**
  * Sends an email verification to the user.
  */
  function sendEmailVerification() {
    // [START sendemailverification]
    firebase.auth().currentUser.sendEmailVerification().then(function () {
      // Email Verification sent!
      // [START_EXCLUDE]
      alert('Email Verification Sent!');
      // [END_EXCLUDE]
    });
    // [END sendemailverification]
  }
  
  function sendPasswordReset() {
    var email = document.getElementById('email').value;
    // [START sendpasswordemail]
    firebase.auth().sendPasswordResetEmail(email).then(function () {
      // Password Reset Email Sent!
      // [START_EXCLUDE]
      alert('Password Reset Email Sent!');
      // [END_EXCLUDE]
    }).catch(function (error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // [START_EXCLUDE]
      if (errorCode == 'auth/invalid-email') {
        alert(errorMessage);
      } else if (errorCode == 'auth/user-not-found') {
        alert(errorMessage);
      }
      console.log(error);
      // [END_EXCLUDE]
    });
    // [END sendpasswordemail];
  }
  
  /**
  * initApp handles setting up UI event listeners and registering Firebase auth listeners:
  *  - firebase.auth().onAuthStateChanged: This listener is called when the user is signed in or
  *    out, and that is where we update the UI.
  */
  function initApp() {
    // Listening for auth state changes.
    // [START authstatelistener]
    firebase.auth().onAuthStateChanged(function (user) {
      // [START_EXCLUDE silent]
      document.getElementById('quickstart-verify-email').disabled = true;
      // [END_EXCLUDE]
      if (user) {
        // User is signed in.
        var displayName = user.displayName;
        var email = user.email;
        var emailVerified = user.emailVerified;
        var photoURL = user.photoURL;
        var isAnonymous = user.isAnonymous;
        var uid = user.uid;
        var providerData = user.providerData;
        // [START_EXCLUDE]
        document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
        document.getElementById('quickstart-sign-in').textContent = 'Sign out';
        document.getElementById('quickstart-account-details').textContent = JSON.stringify(user.uid, null, '  ');
        if (!emailVerified) {
          document.getElementById('quickstart-verify-email').disabled = false;
        }
        // [END_EXCLUDE]
      } else {
        // User is signed out.
        // [START_EXCLUDE]
        document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
        document.getElementById('quickstart-sign-in').textContent = 'Sign in';
        document.getElementById('quickstart-account-details').textContent = 'login/signup';
        // [END_EXCLUDE]
      }
      // [START_EXCLUDE silent]
      document.getElementById('quickstart-sign-in').disabled = false;
      // [END_EXCLUDE]
    });
    // [END authstatelistener]
    
    document.getElementById('quickstart-sign-in').addEventListener('click', toggleSignIn, false);
    document.getElementById('quickstart-sign-up').addEventListener('click', handleSignUp, false);
    document.getElementById('quickstart-verify-email').addEventListener('click', sendEmailVerification, false);
    document.getElementById('quickstart-password-reset').addEventListener('click', sendPasswordReset, false);
  }
  
  window.onload = function () {
    initApp();
  };
</script>
</head>



<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#home">
          Crypocast </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
          
        </div>
        <div class=" navbar-collapse">
          <ul class="navbar-nav" style="margin-right: 10px">
            <li class=" nav-item">
              
              <div>
                <a href="#future-trends">
                  Future Trends </a>
                  
                </div>
                
              </ul>
              <ul class="navbar-nav" style="margin-right: 10px">
                <li class=" nav-item">
                  
                  <div>
                    <a href="#experts-opinion">
                      Experts Opinion </a>
                    </div>
                  </li>
                  
                </ul>
                
                <ul class="navbar-nav sponsors mr-auto" >
                  <li class="nav-item">
                    
                    <div>
                      <a href="#tech-used">
                        Technology Used </a>
                      </div>
                    </li>
                  </ul>
                  <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Elements
                      </a>
                      <div class="dropdown-menu dropdown-with-icons">
                        <a href="#sentiment" class="dropdown-item">
                          <i class="material-icons">heart</i> Sentiment Analysis
                        </a>
                        <a href="#investment" class="dropdown-item">
                          <i class="material-icons">content_paste</i> investment Guide
                        </a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a data-toggle="modal" data-target="#myModal">
                        <div id="quickstart-account-details"></div>
                        
                      </a>
                    </li>
                    <li class="nav-item">
                      <p style="color:white;">
                        
                        <div class="togglebutton">
                          Chill
                          <label>
                            <input type="checkbox" checked="">
                            
                            <span class="toggle"></span>
                            
                          </label>
                          Pro
                        </div>
                      </p>
                      
                    </a>
                  </li>
                </ul>
              </div>
              
            </nav>
            
            <br>
            <div id="particles-js" class="page-header header-filter clear-filter " style="background-color:black; " data-parallax="true">
              <div class="container" style="position:absolute ; left:20%;">
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                      <h1>CRYPTOCAST</h1>
                      <h3>All your cryptocurrency needs in one go !</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Login/Signup</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="container" id="loginn">
                      
                      <div class="row">
                        <div class="col">
                          <p>Enter an email and password below and either sign in to an existing account or sign up</p>
                          
                        </div>
                      </div>
                      
                      <div class="col">
                        
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">email</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" placeholder="Email..." id="email" name="email">
                        </div>
                      </div>
                      
                      <div class="col">
                        
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input type="password" class="form-control" placeholder="Password..." id="password" name="password">
                        </div>
                      </div>
                      
                      
                      <div>
                        <a class="btn btn-link btn-primary btn-lg" id="quickstart-sign-in" name="signin">Sign In</a>
                        
                        <a class="btn btn-link btn-primary btn-lg" id="quickstart-sign-up" name="signup" ">Sign Up</a>
                        
                        <button style ="visibility: hidden; "disabled id="quickstart-verify-email " name="verify-email ">Send Email Verification</button>
                        &nbsp;&nbsp;&nbsp;
                        <button  style ="visibility: hidden; id="quickstart-password-reset" name="verify-email"> Send Password Reset Email</button>
                        #tech-used
                        <div class="quickstart-user-details-container" style="visibility:hidden">
                          Firebase sign-in status:
                          <span id="quickstart-sign-in-status">Unknown</span>
                          <div>Firebase auth
                            <code>currentUser</code> object value:</div>
                            <pre><code id="quickstart-account-details">null</code></pre>
                          </div>
                          
                        </div>
                        
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                      
                    </div>
                    
                    
                  </div>
                </div>
              </div>
              
              
              <div class="main main-raised" id="home">
                
                <br>
                <br>
                <div id="future-trends" class="d-flex justify-content-center">
                  <h2>
                    Future Trends
                  </h2>
                  
                </div>
                
                
                <div class="section section-basic">
                  <div class="container">
                    <h5>
                      Search Trends
                    </h5>
                    <div class="title">
                      <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1435_RC12/embed_loader.js"></script>
                      <script type="text/javascript">
                        trends.embed.renderExploreWidget("TIMESERIES", { "comparisonItem": [{ "keyword": "Bitcoin", "geo": "US", "time": "today 1-m" }, { "keyword": "ethereum", "geo": "US", "time": "today 1-m" }, { "keyword": "ripple", "geo": "US", "time": "today 1-m" }, { "keyword": "tron", "geo": "US", "time": "today 1-m" }, { "keyword": "cardano", "geo": "US", "time": "today 1-m" }], "category": 0, "property": "" }, { "exploreQuery": "geo=US&q=Bitcoin,ethereum,ripple,tron,cardano&date=today 1-m,today 1-m,today 1-m,today 1-m,today 1-m", "guestPath": "https://trends.google.com:443/trends/embed/" });
                      </script>
                      
                      
                      <div>
                        <h3>
                          <small>Search Trends in Google</small>
                        </h3>
                        <!-- Tabs with icons on Card -->
                        <div class="card card-nav-tabs">
                          <div class="card-header card-header-primary">
                            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                            <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                    <a class="nav-link" href="#profile" data-toggle="tab">
                                      BITCOIN
                                      <div class="ripple-container"></div>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link active show" href="#messages" data-toggle="tab">
                                      ETHEREUM
                                      <div class="ripple-container"></div>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#settings" data-toggle="tab">
                                      RIPPLE
                                      <div class="ripple-container"></div>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="card-body ">
                            <div class="tab-content text-center">
                              <div class="tab-pane" id="profile">
                                  <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1435_RC12/embed_loader.js"></script>
                                  <script type="text/javascript">
                                    trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"bitcoin buy","geo":"US","time":"today 1-m"},{"keyword":"bitcoin sell","geo":"US","time":"today 1-m"},{"keyword":"bitcoin loss","geo":"US","time":"today 1-m"},{"keyword":"bitcoin profit","geo":"US","time":"today 1-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%201-m&geo=US&q=bitcoin%20buy,bitcoin%20sell,bitcoin%20loss,bitcoin%20profit","guestPath":"https://trends.google.com:443/trends/embed/"});
                                  </script>
                              </div>
                              <div class="tab-pane active show" id="messages">
                                  <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1435_RC12/embed_loader.js"></script>
                                  <script type="text/javascript">
                                    trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"ethereum buy","geo":"US","time":"today 1-m"},{"keyword":"ethereum sell","geo":"US","time":"today 1-m"},{"keyword":"ethereum profit","geo":"US","time":"today 1-m"},{"keyword":"ethererum loss","geo":"US","time":"today 1-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%201-m&geo=US&q=ethereum%20buy,ethereum%20sell,ethereum%20profit,ethererum%20loss","guestPath":"https://trends.google.com:443/trends/embed/"});
                                  </script>
                              </div>
                              <div class="tab-pane" id="settings">
                                  <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1435_RC12/embed_loader.js"></script>
                                  <script type="text/javascript">
                                    trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"ripple buy","geo":"US","time":"today 1-m"},{"keyword":"ethereum sell","geo":"US","time":"today 1-m"},{"keyword":"ripple profit","geo":"US","time":"today 1-m"},{"keyword":"ethererum loss","geo":"US","time":"today 1-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%201-m&geo=US&q=ripple%20buy,ethereum%20sell,ripple%20profit,ethererum%20loss","guestPath":"https://trends.google.com:443/trends/embed/"});
                                  </script>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End Tabs with icons on Card -->
                      </div>
                      
                      <br>
                      <br>
                      <div id="experts-opinion" class="d-flex justify-content-center">
                        <h2>
                          Expert's Opinion
                        </h2>
                        
                      </div>
                      
                      
                      <div>
                        <h3>
                          <small>Search Trends in Google</small>
                        </h3>
                        <!-- Tabs with icons on Card -->
                        <div class="card card-nav-tabs">
                          <div class="card-header card-header-primary">
                            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                            <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                    <a class="nav-link" href="#profile" data-toggle="tab">
                                      LOW RISK-GAIN
                                      <div class="ripple-container"></div>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link active show" href="#messages" data-toggle="tab">
                                      MEDIUM RISK-GAIN
                                      <div class="ripple-container"></div>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#settings" data-toggle="tab">
                                      HIGH RISK-GAIN
                                      <div class="ripple-container"></div>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="card-body ">
                            <div class="tab-content text-center">
                              <div class="tab-pane" id="profile">
                                <p> BTC</p>
                              </div>
                              <div class="tab-pane active show" id="messages">
                                <p> ETH</p>
                              </div>
                              <div class="tab-pane" id="settings">
                                <p>DSH.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End Tabs with icons on Card -->
                      </div>
                      <div class=row>
                        <div class="col">
                          <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
                        </div>
                        <div class="col">
                          <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
                        </div>
                        <div class="col">
                          <div id="chartContainer3" style="height: 370px; width: 100%;"></div>
                        </div>
                      </div>
                      
                      
                      <div id="tech-used" class="d-flex justify-content-center">
                        <h2>
                          Technology Used
                        </h2>
                        
                        
                      </div>
                      
                      <h4>
                        Neural Networks
                      </h4>
                      <img src="/images/sentiment.gif" style="height:100%; width:100%" />
                      
                      
                    </div>
                    
                  </div>
                  
                  <!--                 end sliders -->
                </div>
              </div>
              
              
              <!--  End Modal -->
              <!--   Core JS Files   -->
              <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
              <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
              <script src="./assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
              <script src="./assets/js/plugins/moment.min.js"></script>
              <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
              <script src="./assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
              <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
              <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
              <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
              <script src="./assets/js/material-kit.js?v=2.0.3" type="text/javascript"></script>
              <script src="particles.js"></script>
              <script src="./assets/canvasjs.min.js"></script>
              
              <script>
                window.onload = function() {
                  
                  
                  var chart = new CanvasJS.Chart("chartContainer1", {
                    animationEnabled: true,
                    title: {
                      text: "Reddit "
                    },
                    data: [{
                      type: "pie",
                      startAngle: 240,
                      yValueFormatString: "##0.00\"%\"",
                      indexLabel: "{label} {y}",
                      dataPoints: [
                      {y: 86, label: "Positive"},
                      {y: 14, label: "Negative"}
                      
                      ]
                    }]
                  });
                  chart.render();
                  
                  var chart = new CanvasJS.Chart("chartContainer2", {
                    animationEnabled: true,
                    title: {
                      text: "Reddit "
                    },
                    data: [{
                      type: "pie",
                      startAngle: 240,
                      yValueFormatString: "##0.00\"%\"",
                      indexLabel: "{label} {y}",
                      dataPoints: [
                      {y: 86, label: "Positive"},
                      {y: 14, label: "Negative"}
                      
                      ]
                    }]
                  });
                  chart.render();
                  var chart = new CanvasJS.Chart("chartContainer3", {
                    animationEnabled: true,
                    title: {
                      text: "Reddit "
                    },
                    data: [{
                      type: "pie",
                      startAngle: 240,
                      yValueFormatString: "##0.00\"%\"",
                      indexLabel: "{label} {y}",
                      dataPoints: [
                      {y: 86, label: "Positive"},
                      {y: 14, label: "Negative"}
                      
                      ]
                    }]
                  });
                  chart.render();
                }
              </script>
              <script>
                
                $(document).ready(function () {
                  //init DateTimePickers
                  materialKit.initFormExtendedDatetimepickers();
                  
                  // Sliders Init
                  materialKit.initSliders();
                  /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
                  console.log(particlesJS);
                  particlesJS.load('particles-js', './assets/particlesjs-config.json', function () {
                    console.log('callback - particles.js config loaded');
                    document.querySelector("canvas").style['z-index'] = "12";
                  });
                });
                
                
                function hide() {
                  var x = document.getElementById("loginn");
                  if (x.style.display === "none") {
                    x.style.display = "block";
                  } else {
                    x.style.display = "none";
                  }
                }
                
                function scrollToDownload() {
                  if ($('.section-download').length != 0) {
                    $("html, body").animate({
                      scrollTop: $('.section-download').offset().top
                    }, 1000);
                  }
                }
              </script>
            </body>
            
            </html>