
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<br>
<br>
<body class="container" style="background-color:#251f47">
  <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1435_RC12/embed_loader.js"></script>
<script type="text/javascript">
  trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Bitcoin","geo":"US","time":"today 12-m"},{"keyword":"ethereum","geo":"US","time":"today 12-m"},{"keyword":"ripple","geo":"US","time":"today 12-m"},{"keyword":"tron","geo":"US","time":"today 12-m"},{"keyword":"cardano","geo":"US","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=US&q=Bitcoin,ethereum,ripple,tron,cardano&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"});
</script>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
